.chip{
     display:flex; 
      align-items: center;
      background-color:#20c997 ;
      color: white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
 .caption{
     background-image: linear-gradient(rgb(178, 195, 195),white);
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     top: 0;
     margin:0px;
     padding: 20px;
 }
 .card{
     margin: 20px;
     padding: 5px;

 }
 .button{
    background-color: #20c997;
    color: white;
 }
 .full {
    height: 300px;
  }