<div  class="title">
    <span>
      <mat-icon class="icon">turned_in</mat-icon>
      COMMENTS
      <mat-icon class="icon1">turned_in</mat-icon>
    </span>
  </div>
  <div style="display: flex;flex-grow: 1;">
      <mat-card style="margin: 5px;flex-basis: 75%;">
        <div style="margin-left: auto;margin-right: auto;justify-content: center;">
            <iframe width="auto" height="auto"
             src="https://www.youtube.com/embed/NLPMDl4sxcQ" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
               gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
        </div>
          <div>
            <h3 style="margin: 5px;color: rgb(24, 141, 141);">Comments in HTML</h3>
            <p>
              Comment is a piece of code which is ignored by any web browser.
               It is a good practice to add comments into your HTML code, especially in complex documents,
               to indicate sections of a document, and any other notes to anyone looking at the code.
               Comments help you and others understand your code and increases code readability.
            </p>
            <p>HTML comments are placed in between 
               <b>&lt;!-- ... --&gt;</b> tags.
               So, any content placed with-in &lt;!-- ... --&gt;
                tags will be treated as comment and will be completely ignored by the browser.
            </p>
            <h3>HTML Comment Tags are used in following purposes : -</h3>
            <ul class="points">
              <li>
                <p>
                  Thanks to the comments tag, you can leave notes to remind yourself where
                   you left off in the build process. You can explain the intended functionality
                    of a section of code, whether for the sake of another developer or your future self.
    
                </p>
              </li>
              <li>
                <p>
                  You can also communicate with other developers working simultaneously on the
                   same code. You might leave a warning for them to only run a certain function
                    at night because it takes a long time to execute. Or you might assign them a 
                    task or point out an error for them with a comment.
              </p>
              </li>
              <li>
                <p>
                  In short, commenting in HTML can help you work smarter and better when building,
                   debugging, or redesigning a website.
                </p>
              </li>
            </ul>
           <h3>Example</h3>
            <mat-tab-group>
              <mat-tab label="HTML">
                <code>&lt;!DOCTYPE&gt;</code>
                <br>
                <code>&lt;html&gt;</code>
                <br>
                <code style="color: green;">&lt;!-- Document Header Starts --&gt;</code>
                <br>
                <code>&lt;head&gt;</code>
                <br>
                <code>&lt;title&gt;Web page title&lt;/title&gt;</code>
                <br>
                <code>&lt;/head&gt;</code>
                <br>
                <code style="color: green;">&lt;!-- Document Header Ends --&gt;</code>
                <br>
                <code>&lt;body&gt;</code>
                <br>
                <code>&lt;h1&gt;Write Your First Heading&lt;/h1&gt;</code>
                <br>
                <code>&lt;p&gt;Write Your First Paragraph.&lt;/p&gt;</code>
                <br>
                <code>&lt;/body&gt;</code>
                <br>
                <code>&lt;/html&gt;</code>
                 </mat-tab>
              <mat-tab label="CSS">
                 <code>//no code</code>
              </mat-tab>
              
            </mat-tab-group>
          </div>
      </mat-card>
      <mat-card style="flex-basis: 25%;margin: 5px;" fxHide.xs="true" fxHide.sm="true">
          <iframe width="100%"
             marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
             src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ravi05e0-21&marketplace=amazon&amp;region=IN&placement=B07XCM6T4N&asins=B07XCM6T4N&linkId=6680ffddc271cc6e00df20297f2437ac&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
          </iframe>
        </mat-card>
       
  
  </div>
  
  
  