<div class="forget-password-page">
  <mat-card class="card">
    <div class="title">
      <mat-card-title style="text-align: center;">
          Reset New Password
      </mat-card-title>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="userForm"  class="form">
        <div>
          <mat-form-field  class="form-field">
              <mat-label>Username</mat-label>
              <input type="text" placeholder="Enter Username" formControlName="username" matInput/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
              <mat-label> New Password</mat-label>
              <input type="password" placeholder="Enter Password"  formControlName="password" matInput/>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-field">
                <mat-label> Confirm New  Password</mat-label>
                <input type="password" placeholder="Enter Password"  formControlName="confirmPassword" matInput/>
            </mat-form-field>
          </div>
        <div style="text-align: center;">
          <button mat-button type="submit" [disabled]="!userForm.valid" class="login-button">Submit</button>
          <button mat-button routerLink="/login" class="login-button">Login</button>
        </div>
        
    </form>
  </mat-card>
</div>
