.card{
    display: block;
    text-align: center;
    width:40%;
    margin-top:50px;
}
.login-button{
    background-color: rgb(160, 146, 17);
    color: white;
    margin-left:5px;
}
.title{
    color:rgb(160, 146, 17);
    font-family: Arial, Helvetica, sans-serif;
}
.forget-password{
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(160, 146, 17);
}
.form-field{
    width:100%;
}
.form{
    margin:5%
}