
<div class="container">
    <img src="assets/img/banners/about-us-banner.png" width="100%">
    
</div>

<div class="caption">
    <div >
        <mat-chip-list >
            <mat-chip class="chip" >
                Facts About RightClick Programming
            </mat-chip>  
        </mat-chip-list>
    </div>
       
       <p style="color: rgb(135, 133, 133);">
        RightClick Programming has been started as an educational initiative.
         The motive behind the channel is to technically educate the students about IT skills.
          It will help students to grow and learn IT technical skills.
           Our goal is to provide free quality technical skill to everyone.
        </p>   
</div>
<mat-card class="mat-elevation-z3" style="margin: 5px;">
    <div style="text-align: center;color: rgb(15, 201, 201);font-family: Arial, Helvetica, sans-serif;">
        <h2>Some Words From Founding Members</h2>
    </div>
    <div class="flex-container">
        <mat-card class="mat-elevation-z13">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Ravi Shankar Kumar</mat-card-title>
                <mat-card-subtitle>Founder</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p style="color: rgb(66, 64, 64);font-style: italic;line-height: 2em;font-size: medium;">
                    " RightClick Programming has been started as an educational initiative.
                    The motive behind the channel is to technically educate the students about IT skills.
                    It will help students to grow and learn IT technical skills.
                    Our goal is to provide free quality technical skill to everyone."
                </p>   
            </mat-card-content>
        </mat-card>
    
    
        <mat-card class="mat-elevation-z13">
            <mat-card-header>
                <div mat-card-avatar class="header-image1"></div>
                <mat-card-title>Nidhi Kumari</mat-card-title>
                <mat-card-subtitle>Co-Founder</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p style="color: rgb(66, 64, 64);font-style: italic;line-height: 2em;font-size: medium;">
                    " RightClick Programming is committed to deliver the best skill learning experience
                    to students who are keen to learn new skills. We provide the best learning material and 
                    course structure for free . Our motive is to provide free learning to all. "
                </p>   
            </mat-card-content>
     </mat-card>
</div>
</mat-card>
<mat-card class="mat-elevation-z3" style="margin: 5px;background-image: linear-gradient(#20c997,white);">
    <h2 style="font-family: Arial, Helvetica, sans-serif;color: #20c997;text-align: center;">
         Our Culture & Commitment
    </h2>
    <div style="display: flex;flex-wrap: wrap;">
        <img style="align-items: center;" src="assets/img/banners/about-us-banner1.png" width="100%">
    </div>
    <ul class="culture">
        <li>
            <mat-icon class="icon">send</mat-icon>Delivering best results every single time
        </li>
        <li>
            <mat-icon class="icon">send</mat-icon>Consistently growing and improvising
        </li>
        <li>
            <mat-icon class="icon">send</mat-icon>Serve others and society over ourselves
        </li>
        <li>
            <mat-icon class="icon">send</mat-icon>Collaborative business models
        </li>
        <li>
            <mat-icon class="icon">send</mat-icon>Clients' interest first
        </li>
        <li>
            <mat-icon class="icon">send</mat-icon>request an estimate
        </li>

    </ul>

    <div>
        <mat-stepper orientation="vertical" >
            <mat-step >
              <ng-template matStepLabel>Course Subscription</ng-template>
              <ng-template matStepContent>
                <p >Take the desired Course</p>
              </ng-template>
            </mat-step>
            <mat-step >
              <ng-template matStepLabel>Start Learning</ng-template>
              <ng-template matStepContent>
                <p>Start Taking Our Course</p>
              </ng-template>
            </mat-step>
            <mat-step >
              <ng-template matStepLabel>Full Guidance & Support</ng-template>
              <p>We will provide proper study material and guidance</p>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Course Completion</ng-template>
                <p>Course Completion</p>
              </mat-step>
          </mat-stepper>
    </div>
</mat-card>
