.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 30%;
}
.header{
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5%;
      
}
.form{
    display: block;
    text-align: center;
    
}
.mat-form{
    width: 70%;
}
@media screen and (min-width: 769px) {
    /* STYLES HERE */
}