
<mat-drawer-container class="container mat-elevation-z3">
    <!-- <mat-toolbar-row>
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            Hello
       </button>
    </mat-toolbar-row> -->

    <mat-drawer #drawer mode="side" opened fxHide.sm="true" fxHide.xs="true">
        <div style="text-align: center;">
            <img   width="75px" src="assets/img/course-icon/angular.png" alt="Course image">
            <h3 style="color:rgb(160, 146, 17) ; font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Angular Tutorial</h3>
        </div>
        <mat-divider></mat-divider>
        <mat-list *ngFor="let key of topics">
            <mat-list-item  class="item">
                <a  class="link" routerLink="{{key.routeName}}" routerLinkActive="is-active">{{key.topic}}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>    
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>