<div class="title">
  <span>
    <mat-icon class="icon">turned_in</mat-icon>
    CHOOSING TEXT EDITOR
    <mat-icon class="icon1">turned_in</mat-icon>
  </span>
</div>
<div style="display: flex;flex-grow: 1;">
  <mat-card style="margin: 5px;flex-basis: 75%;">
    <div style="margin-left: auto;margin-right: auto;justify-content: center;">
      <iframe width="auto" height="auto" src="https://www.youtube.com/embed/AMrXoCFxyp0" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
               gyroscope; picture-in-picture" allowfullscreen>

      </iframe>
    </div>

    <div>
      <mat-card-title style="margin: 5px;color: rgb(24, 141, 141);">
        CHOOSING A TEXT EDITOR
      </mat-card-title>
      <div class="content-style">
        <p>
          <strong>Text Editors</strong> are used to create and modify web pages.
          HTML codes can be written in any text editors including the notepad.
          One just needs to write HTML in any text editor and save the file with an extension.
          But as a beginner, you should start with a simple text editor for now.
        </p>
        <p>
          While choosing and trying HTML Editors, try to get an IDE will some or all
          of the following features and capabilities
        </p>
        <p>
          <strong>Code Collapsing : </strong> When an enormous amount of code is written,
          then code collapsing features works great and to get an HTML Editor which provides
          this option will work like a charm and helps in distinguishing sections of code.
        </p>
        <p>
          <strong>Validation Checke : </strong> HTML Editors provides options to validate your
          files against the W3C standards. This way you can check whether your code is W3C
          compliant or not.
        </p>
        <p>
          <strong>Built-in Browser : </strong> Editors allow you to add browsers and open from
          inside the program to check the user interface. In this way, cross-browser compatibility
          is also achieved.
        </p>
        <p>
          <strong>AutoComplete function : </strong>Some editors come auto complete function i.e.
          whenever you will begin typing a tag or attribute or a syntax, it gives you
          the option to complete it.
        </p>
        <p>
          <strong>Link checker : </strong> Link checker allows you to check broken
          links while creating your website using HTML Editor. Checking broken links
          saves your time of manually checking every link.
        </p>
        <p>The list of text editor mentioned in this section can be downloaded on click</p>
        <p></p>
        <ul class="points">
          <a style="text-decoration: none;color: rgb(21, 161, 161);font-weight: bold;"
            href="https://notepad-plus-plus.org/downloads/" target="_blank">
            <li>Notepad++</li>
          </a>
          <a style="text-decoration: none;color: rgb(21, 161, 161);font-weight: bold;"
            href="https://code.visualstudio.com/" target="_blank">
            <li> Visual Studio Code (Preferable by me)</li>
          </a>
          <a style="text-decoration: none;color: rgb(21, 161, 161);font-weight: bold;" href="https://atom.io/"
            target="_blank">
            <li>Atom</li>
          </a>
          <a style="text-decoration: none;color: rgb(21, 161, 161);font-weight: bold;"
            href="https://www.sublimetext.com/" target="_blank">
            <li>Sublime</li>
          </a>
          <a style="text-decoration: none;color: rgb(21, 161, 161);font-weight: bold;"
            href="https://www.jetbrains.com/webstorm/" target="_blank">
            <li>Web Storm</li>
          </a>

        </ul>

      </div>

    </div>
  </mat-card>
  <mat-card style="flex-basis: 25%;margin: 5px;" fxHide.xs="true" fxHide.sm="true">
    <iframe width="100%" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ravi05e0-21&marketplace=amazon&amp;region=IN&placement=B07XCM6T4N&asins=B07XCM6T4N&linkId=6680ffddc271cc6e00df20297f2437ac&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </mat-card>


</div>