<div  class="title">
    <span>
      <mat-icon class="icon">turned_in</mat-icon>
      BASIC TAGS
      <mat-icon class="icon1">turned_in</mat-icon>
    </span>
  </div>
  <div style="display: flex;flex-grow: 1;">
      <mat-card style="margin: 5px;flex-basis: 75%;">
        <div style="margin-left: auto;margin-right: auto;justify-content: center;">
            <iframe width="auto" height="auto"
             src="https://www.youtube.com/embed/PHxS9L6fyTs" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
               gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
        </div>
          <div>
            <h3 style="margin: 5px;color: rgb(24, 141, 141);">Basic HTML Tags</h3>
              <p>In HTML Heading Tags : Headings are written in the following elements:</p>
              <ul>
                <li><strong>h1 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h1&gt;</code>Heading 1
                  <code style="color: red;font-size:larger">&lt;/h1&gt;</code>
                </li>
                <li><strong>h2 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h2&gt;</code>Heading 2
                  <code style="color: red;font-size:larger">&lt;/h2&gt;</code>
                </li>
                <li><strong>h3 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h3&gt;</code>Heading 3
                  <code style="color: red;font-size:larger">&lt;/h3&gt;</code>
                </li>
                <li><strong>h4 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h4&gt;</code>Heading 4
                  <code style="color: red;font-size:larger">&lt;/h4&gt;</code>
                </li>
                <li><strong>h5 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h5&gt;</code>Heading 5
                  <code style="color: red;font-size:larger">&lt;/h5&gt;</code>
                </li>
                <li><strong>h6 -  </strong>
                  <code style="color: red;font-size:larger">&lt;h6&gt;</code>Heading 6
                  <code style="color: red;font-size:larger">&lt;/h6&gt;</code>
                </li>
              </ul>
              <h3>How To Add Text In HTML</h3>
              <p>
                  Adding text to our HTML page is simple using an element opened with the tag
                  <code style="color: red;font-size:larger">&lt;p&gt;</code> which creates a new paragraph. We place all of our regular text inside
                   the element <code style="color: red;font-size:larger">&lt;p&gt;</code>.When we write text in HTML, we also have a number
                    of other elements we can use to control the text or make it appear in a certain way.
              </p>
              <h3>Other Key Elements</h3>
              <p>They are as follows:</p>     
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Element </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Meaning Column -->
                <ng-container matColumnDef="meaning">
                  <th mat-header-cell *matHeaderCellDef> Meaning </th>
                  <td mat-cell *matCellDef="let element"> {{element.meaning}} </td>
                </ng-container>
              
                <!-- Purpose Column -->
                <ng-container matColumnDef="purpose">
                  <th mat-header-cell *matHeaderCellDef> Purpose </th>
                  <td mat-cell *matCellDef="let element"> {{element.purpose}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
      </mat-card>
      <mat-card style="flex-basis: 25%;margin: 5px;" fxHide.xs="true" fxHide.sm="true">
          <iframe width="100%"
             marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
             src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ravi05e0-21&marketplace=amazon&amp;region=IN&placement=B07XCM6T4N&asins=B07XCM6T4N&linkId=6680ffddc271cc6e00df20297f2437ac&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
          </iframe>
        </mat-card>
       
  
  </div>
  
  
  