<div  class="title">
    <span>
      <mat-icon class="icon">turned_in</mat-icon>
      STYLE & COLOR
      <mat-icon class="icon1">turned_in</mat-icon>
    </span>
  </div>
  <div style="display: flex;flex-grow: 1;">
      <mat-card style="margin: 5px;flex-basis: 75%;">
        <div style="margin-left: auto;margin-right: auto;justify-content: center;">
            <iframe width="auto" height="auto"
             src="https://www.youtube.com/embed/lLItDsJKDFE" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
        </div>
          <div>
            <mat-card-title style="margin: 5px;color: rgb(24, 141, 141);">
              Style & Color
            </mat-card-title>
            <div class="content-style">
              <p>
                In this lesson we’re gonna touch on styling web pages. When we work with HTML,
                we’re essentially defining the structure or the architecture of our website.
                Once you’ve defined the layout of the site however, you’ll want to add styles.
                Website styling is what distinguishes one site from another. It brings personality,
                  brand and user friendliness out of the bare HTML that we’ve seen so far in this
                  course.As an introduction to styling, let’s look at some basic ways to add
                    color to our sites!
              </p>
              <div style="padding-top:5px; padding-bottom:5px; padding-left:15px; padding-right:15px; border-left: 5px solid rgb(24, 141, 141);">
                One quick aside, website styling is a whole topic in itself. There is actually an 
                entirely separate language that we can use to style sites called CSS 
                (Cascading Style Sheet).This lesson will introduce some very basic styling 
                techniques, but if you want to learn more that just the bare basics, check
                 out my CSS course (although I’d recommend finishing the HTML one first)
              </div>
              <h3>
                Changing Text Colour
              </h3>
              <p>
                For our foray into styling we’re begin by changing the color of the text on the page.
                 HTML allows you to include a special attribute called the style attribute.
                In the style attribute we can define some basic styles for an element.
              </p>
              <code id="code" style="padding:15px;" class="html hljs xml">
                <span class="hljs-tag">&lt;<span class="hljs-name">p </span> 
                <span class="hljs-attr">style</span>=<span class="hljs-string">
                  "color:blue; background-color: orange;"</span>&gt;</span>
                  Some blue text w/ orange background<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
              </code>
            </div>
          </div>
      </mat-card>
      <mat-card style="flex-basis: 25%;margin: 5px;" fxHide.xs="true" fxHide.sm="true">
          <iframe width="100%"
             marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
             src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ravi05e0-21&marketplace=amazon&amp;region=IN&placement=B07XCM6T4N&asins=B07XCM6T4N&linkId=6680ffddc271cc6e00df20297f2437ac&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
          </iframe>
        </mat-card>
       
  
  </div>
  
  
  